@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação de exclusão de usuário";
}
<div class="text-center">
    <h3>Deseja remover o usuário @Model.Nome?</h3>
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-action="Remover" asp-route-id="@Model.Id">Confirmar Exclusão</a>
    <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Cancelar remoção</a>
</div>