@{
    ViewData["Title"] = "Página restrita";
    Layout = "_LayoutDeslogado";
}
<p>Você não possui permissão para acessar essa funcionalidade. <a asp-controller="Home" asp-action="Index">Clique aqui para voltar ao inicio.</a></p>